.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
}

.text {
    font-size: 40px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
        80deg,
        var(--grey8) 0%,
        var(--grey7) 33%,
        var(--grey6) 50%,
        var(--grey7) 66%,
        var(--grey8) 100%
    );
    background-size: 300% 100%;
    background-position-x: 0%;
    animation: gradient 2s infinite;
    animation-timing-function: linear;
}
@keyframes gradient {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 150%;
    }
}
