:root {
    --blue: #8696ea;
    --purple: #ca95ff;
    --pink: #ea86aa;
    --red: #e96979;
    --yellow: #eace86;
    --white: #f7fafc;
    --grey1: #f7fafc;
    --grey2: #edf2f7;
    --grey3: #e2e8f0;
    --grey4: #cbd5e0;
    --grey5: #a0aec0;
    --grey6: #718096;
    --grey7: #4a5568;
    --grey8: #2d3748;
    --grey9: #1a202c;
    /*  */
    --blur1: #ffffff33;
    --blur2: #ffffff80;
    --main1: linear-gradient(135deg, #ea86aa 50%, #eace86 100%);
    --main2: linear-gradient(135deg, #8696ea 0%, #ea86aa 100%);
    --main3: linear-gradient(90deg, #8696ea 0%, #ea86aa 50%, #eace86 100%);
}
.dark {
    --blue: #8696ea;
    --purple: #ca95ff;
    --pink: #ea86aa;
    --red: #e96979;
    --yellow: #eace86;
    --white: #f7fafc;
    --grey9: #f7fafc;
    --grey8: #edf2f7;
    --grey7: #e2e8f0;
    --grey6: #cbd5e0;
    --grey5: #a0aec0;
    --grey4: #718096;
    --grey3: #4a5568;
    --grey2: #2d3748;
    --grey1: #1a202c;
    /*  */
    --blur1: #ffffff33;
    --blur2: #ffffff80;
    --main1: linear-gradient(135deg, #ea86aa 50%, #eace86 100%);
    --main2: linear-gradient(135deg, #8696ea 0%, #ea86aa 100%);
    --main3: linear-gradient(90deg, #8696ea 0%, #ea86aa 50%, #eace86 100%);
}

@font-face {
    font-family: "TTHakgyoansimJiugaeR";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimJiugaeR.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "GongGothicMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
/* 
  얇은 글씨 300
  기본 글씨 400
  굵은 글씨 700
   */

:root {
    --gmarket-sans: "GongGothicMedium";
    /* --noto-sans: -apple-system, "Noto Sans KR", sans-serif; */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--grey2);
}

textarea,
input,
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: var(--gmarket-sans);
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: var(--grey8);
}
button,
input {
    background-color: var(--grey3);
    border: solid 1px var(--grey3);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    color: var(--grey8);
    transition: ease-in-out 0.3s;
    font-size: 1rem;
}
input {
    width: calc(100vw - 5rem);
    outline: none;
}

button {
    width: calc(100vw - 4rem);
}

input:focus {
    border: solid 1px var(--grey5);
    background-color: var(--grey1);
}

input::placeholder {
    color: var(--grey5);
}
