:root {
    --skyblue: #7ed2e4;
    --blue: #8696ea;
    --purple: #ca95ff;
    --pink: #ea86aa;
    --red: #e96979;
    --yellow: #eace86;
    --white: #f7fafc;
    --grey1: #f7fafc;
    --grey2: #edf2f7;
    --grey3: #e2e8f0;
    --grey4: #cbd5e0;
    --grey5: #a0aec0;
    --grey6: #718096;
    --grey7: #4a5568;
    --grey8: #2d3748;
    --grey9: #1a202c;
    /*  */
    --blur1: #ffffff33;
    --blur2: #ffffff80;
    --blur3: #e2e8f080;
    --shadow1: #a0aec040;
    --shadow2: #8697ea80;
    --bottom: linear-gradient(0deg, #edf2f7 60%, #edf2f7b2 70%, #edf2f700 100%);
    --top: linear-gradient(
        180deg,
        #edf2f7e4 60%,
        #edf2f7b2 70%,
        #edf2f700 100%
    );
    --top2: linear-gradient(
        180deg,
        #e2e8f0e4 60%,
        #e2e8f0b2 70%,
        #e2e8f000 100%
    );
    --awesome: linear-gradient(
        60deg,
        #8696ea 0%,
        #ca95ff 25%,
        #ea86aa 48%,
        #ea86aa 52%,
        #ca95ff 75%,
        #8696ea 100%
    );
    --awesome2: linear-gradient(
        60deg,
        #6f83e6 0%,
        #b46fe6 25%,
        #dc6fe6 48%,
        #dc6fe6 52%,
        #b46fe6 75%,
        #6f83e6 100%
    );
    --qr: url("./assets/qrBlack.png");
}
.dark {
    --skyblue: #7ed2e4;
    --blue: #8696ea;
    --purple: #ca95ff;
    --pink: #ea86aa;
    --red: #e96979;
    --yellow: #eace86;
    --white: #f7fafc;
    --grey9: #f7fafc;
    --grey8: #edf2f7;
    --grey7: #e2e8f0;
    --grey6: #cbd5e0;
    --grey5: #a0aec0;
    --grey4: #718096;
    --grey3: #4a5568;
    --grey2: #2d3748;
    --grey1: #1a202c;
    /*  */
    --blur1: #ffffff33;
    --blur2: #ffffff80;
    --shadow1: #71809640;
    --shadow2: #8697ea80;
    --bottom: linear-gradient(
        0deg,
        #2d3748e4 60%,
        #2d3748b2 70%,
        #2d374800 100%
    );
    --top: linear-gradient(
        180deg,
        #2d3748e4 60%,
        #2d3748b2 70%,
        #2d374800 100%
    );
    --top2: linear-gradient(
        180deg,
        #4a5568e4 60%,
        #4a5568b2 70%,
        #4a556b00 100%
    );
    --awesome: linear-gradient(
        60deg,
        #8696ea 0%,
        #ca95ff 25%,
        #ea86aa 48%,
        #ea86aa 52%,
        #ca95ff 75%,
        #8696ea 100%
    );
    --awesome2: linear-gradient(
        60deg,
        #6f83e6 0%,
        #b46fe6 25%,
        #dc6fe6 48%,
        #dc6fe6 52%,
        #b46fe6 75%,
        #6f83e6 100%
    );
    --qr: url("./assets/qrWhite.png");
}

@font-face {
    font-family: "EsaManru";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix")
            format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff")
            format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf")
            format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "EsaManru";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix")
            format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff")
            format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf")
            format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "EsaManru";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix")
            format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff")
            format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf")
            format("truetype");
    font-display: swap;
}
/* 
  얇은 글씨 300
  기본 글씨 500
  굵은 글씨 700
   */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;

    /* 드래그 금지 */
    user-select: none;
    -webkit-user-select: none;

    /* 클릭시 하이라이트 제거 */
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: var(--grey2);
}
textarea,
input,
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "EsaManru";
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--grey8);
}
